.services{
  margin: 80px auto;
  width: 90%;
  text-align: center;


}
.gallery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.gallery img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: block;
}
.btn-view{
  padding: 10px 30px;
  background-color: #212EA0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.gallery img:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.btn-view:hover{
  background-color: #0d1a66;
  transition: all 0.3s ease-in-out;
}
.gallery-text p{
  margin-top: 10px;
}